html,body,div,ul,li,a,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body {
	font-family: 'Helvetica Neue', sans-serif;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #FFF;
}
h1,h2,h3,h4 {
	color: #3B5998;
}
ul {
	text-decoration: none;
	list-style-type: none;
}
a {
	text-decoration: none;
	color:white;
	cursor: pointer;
}

.header {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #2c3e50;
	/*padding: 1%;*/
}
.header ul li {
	display: inline-block;
	letter-spacing: 2px;
	
}
.header ul li a{
	display: block;
	padding: 15px 10px;
}
.nav-right {
	float: right;
	margin: 0;
	font-size: 18px;
	text-transform: capitalize;
	letter-spacing: 1px;
	word-spacing: 3px;
}
#brand {
	font-size: 18px;
	color: white;
	text-decoration: none;
	margin-left: 50px;
	padding: 15px 20px;
	float: left;
	text-transform: capitalize;
	letter-spacing: 1px;
	/*word-spacing: 3px;*/
}
#brand:hover {
	background-color:  rgba(0,0,0,0.3);
}
.header ul li a:hover{
	background-color:  rgba(0,0,0,0.3);

}
.index_sidebar {
	margin: 50px 0 50px 10%;
	width:50%;
	height: 110%;
	background-color: #e9ebee;
	float: left;
	padding: 5%;
}
.index_sidebar a h2 p ul li {
	color: black;
}
.index_main {
	margin: 50px 10% 50px 0;
	width: 30%;
	height: 110%;
	float: right;
	background-color: rgba(0,0,0,0.3);
	padding: 5%;
	text-align: center;
}
.footer {
	width: 100%;
	height: 50px;
	background-color: #2c3e50;
	position: fixed;
	bottom: 0;
}
.footer_text {
	text-align: center;
	font-size: 18px;
	color: white;
	word-spacing: 2px;
	letter-spacing: 1px;
	padding: 10px;		
}
.footer_text a {
	color: black;
}
p > a {
	color: blue;
}
.choose li{
	display: inline-block;
	padding: 5px 15px;
}
.choose li a {
	display: block;
	padding: 10px;
}
.login {
	width: 100%;
	height: 100%;
	float: left;
	padding: 20px;
	text-align: center;
	/*border: 1px solid #e9ebee;*/
	/*background-color: transparent;*/
    /*box-shadow: 10px 8px 16px 0px rgba(0, 0, 0, 0.3);*/
}
form input {
	width: 200px;
	height: 30px;
	text-indent: 10px;
}
.after_login {
	margin: 50px 10% 50px 0;
	width: 30%;
	height: 110%;
	float: right;
	background-color: rgba(0,0,0,0.3);
	padding: 5%;
	text-align: center;
}