html,body,div,ul,li,a,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body {
	font-family: 'Helvetica Neue', sans-serif;
	min-height: 100%;
	width: 100%;
	position: absolute;
	background-color: #dcdcd6;
}
h1,h2,h3,h4 {
	color: #3B5998;
}
ul {
	text-decoration: none;
	list-style-type: none;
}
a {
	text-decoration: none;
	color:white;
	cursor: pointer;
}

.header {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #2c3e50;
	z-index: 1000;
}
.header ul li {
	display: inline-block;
	letter-spacing: 2px;
	
}
.header ul li a{
	display: block;
	padding: 15px 10px;
}
.nav-right {
	float: right;
	margin: 0;
	font-size: 18px;
	text-transform: capitalize;
	letter-spacing: 1px;
}
#brand {
	font-size: 18px;
	color: white;
	text-decoration: none;
	padding: 15px 20px;
	float: left;
	text-transform: capitalize;
	letter-spacing: 1px;
	/*word-spacing: 3px;*/
}
#brand:hover {
	background-color:  rgba(0,0,0,0.3);
}
.header ul li a:hover{
	background-color:  rgba(0,0,0,0.3);

}

.main {
	width: 60%;
	margin: 100px 20% 30px 20%;
	padding: 5%;
	text-align: center;
	/*margin-top: 100px;*/
	background-color: #fff;
}

input {
	width: 200px;
	height: 30px;
	text-indent: 10px;
}

button {
	width: 200px;
	height: 30px;
	text-align: center;
}

.footer {
	width: 100%;
	height: 40px;
	background-color: #2c3e50;
	position: fixed;
	bottom: 0;
}

.footer_text {
	text-align: center;
	font-size: 18px;
	color: white;
	word-spacing: 2px;
	letter-spacing: 1px;
	padding: 10px;		
}
.footer_text a {
	color: black;
}