html,body,div,ul,li,a,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body {
	font-family: 'Helvetica Neue', sans-serif;
	min-height: 100%;
	width: 100%;
	position: absolute;
	background-color: #FFF;
}
h1,h2,h3,h4 {
	color: #3B5998;
}
ul {
	text-decoration: none;
	list-style-type: none;
}
a {
	text-decoration: none;
	color:white;
	cursor: pointer;
}

.header {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #2c3e50;
	z-index: 1000;
	border: 1px solid rgba(0,0,0,0.3);
}
.header ul li {
	display: inline-block;
	letter-spacing: 2px;
	
}
.header ul li a{
	display: block;
	padding: 15px 10px;
}

.nav-right {
	float: right;
	margin: 0;
	font-size: 18px;
	text-transform: capitalize;
	letter-spacing: 1px;
	min-height: 100%;
}
#brand {
	font-size: 18px;
	color: white;
	text-decoration: none;
	padding: 15px 20px;
	float: left;
	text-transform: capitalize;
	letter-spacing: 1px;
	/*word-spacing: 3px;*/
}
#brand:hover {
	background-color:  rgba(0,0,0,0.3);
}
.header ul li a:hover{
	background-color:  rgba(0,0,0,0.3);
}
.mob-right{
	display: none;
}
.dropdown {
	float: right;
	margin: 8px 15px;
	display: none;
}

.dropdown-list {
	min-height: 100%;
	/*margin-top: 50px;*/
}
#dropdown{
	background-color: #2c3e50;
	border: 1px solid rgba(0,0,0,0.3);
	display: none;
	position: fixed;
	top: 50px;
	width: 100%;
	z-index: 1000;
}
.dropdown-list li a{
	color: white;
	display: block;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
.search_message {
	position: absolute;
	width: 25%;
	height: 75px;
	margin-top: 50px;
	margin-left: 10%;
	text-align: center;
	padding: 2%;
	border: 1px solid #e9ebee;
	border-bottom: none;	
}
.search_message input {
	width: 80%;
	height: 25px;
	text-indent: 5px;

}
.sidebar {
	position: absolute;
	width: 25%;
	background-color: #FFF;
	height: 480px;
	max-height: 83%;
	margin-top: 125px;
	margin-left: 10%;
	/*float: left;*/
	color: black;
	border: 1px solid #e9ebee;

}
#message {
	overflow-y: scroll;
}
.message {
	width: 100%;
	display: block;
	padding: 5%;
	font-size: 20px;
	border-bottom: 1px solid #e9ebee;
	color:black;
	word-spacing: 5px;
	letter-spacing: 1px;
}
.message:active {
	background-color: #324263;
	color:#fff;
}
.message:hover {
	background-color: #365899;
	color:#fff;
}

.message_time {
	font-size: 12px;
	float: right;
	word-spacing: 0;
	padding: 10px 0 0 4px;
	vertical-align: sub;
}

.main {
	position: absolute;
	width: 50%;
	margin-left: 35%;
	margin-top: 125px;
	background-color: #FFF;
	height: 300px;
	padding: 1% 2%;
	border: 1px solid #e9ebee;
	border-left: none;	
}
.chat_name {
	position: absolute;
	width: 50%;
	margin-left: 35%;
	margin-top: 50px;
	height: 75px;
	background-color: #FFF;
	padding: 20px 50px;
	font-size: 25px;
	display: block;
	border-right: 1px solid #e9ebee;
}
#chat_heading {
	max-height: 100%;
	max-width: 50%;
	display: inline-block;
}
#chat_heading a{
	float: left;
	display: block;
	padding: auto;
	color: black;
	/*width: 50%;*/
}

#conversation {
	overflow-y: scroll;
}
.sender {
	float: left;
	padding: 5px 10px;
	background-color: green;
	border:1px solid black;
	border-radius: 4%;
	margin:2px;
	max-width: 60%;
}
.receiver {
	float: right;
	padding: 5px 10px;
	background-color:pink;
	border:1px solid black;
	border-radius: 4%;
	margin:2px;
	max-width: 60%;

}
.conversation_reply {
	position: absolute;
	width: 50%;
	margin-left: 35%;
	margin-top: 425px;
	background-color: #F6F7F9;
	color: black;
	padding: 10px 70px;
	display: block;
	border-right: 1px solid #e9ebee;
	overflow-y: auto;
	overflow-x:hidden;
}

.conversation_reply textarea {
	width: 100%;
	height: 124px;
	font-size: 15px;
	padding: 5px;
	resize:none;
	overflow: hidden;
}
#text_reply:focus {
	outline: none;
}
.compose {
	float: right;
	
}
.compose a:hover {
	background-color: #2c3e50;
	color: white;
}
.compose a{
	display:block;
	color: black;
	font-size: 15px;
	padding: 4px;
	border: 1px solid black;
	background-color: #e9ebee;
}
.compose_text {
	display: none;
	float: left;
	font-size: 15px;
	/*padding: 8px;*/
	letter-spacing: 1px;
	width: 65%;
}
#to {
	font-size: 20px;
	letter-spacing: 1px;
}
.compose_text input {
	width: 220px;
	height: 25px;
	text-indent: 5px;
	/*border: none;*/
	border: 1px solid #e9ebee;
	letter-spacing: 1px;
}
.compose_text input:focus {
	/*border: none;*/
	/*border-bottom: 2px solid green;*/
	/*outline: none;*/
}
#compose_name {
	position: absolute;
}
#compose_selection {
	position: relative;
	top: 7px;
	left:44px;
	width: 220px;
	/*vertical-align: center;*/
	text-align: left;
	text-indent: 5px;
	visibility: hidden;
	z-index: 10;
	background-color: #F6F7F9;
	border: 1px solid #e9ebee;
	max-height: 150px;
	overflow: auto;
}
#suggestion li a{
	display: block;
	color: black;
	padding: 10px;
	width: 100%;
	height: 100%;	
	border-bottom: 1px solid #e9ebee;
}
#suggestion li a:hover {
	background-color: #2c3e50;
	color: white;
}

.outer {
	/*position: absolute;*/
	width: 100%;
	height: 100%;
	/*overflow: auto;*/
}

.previous a {
	display: block;
	color: blue;
	padding: 2px;
	text-align: center;
	width: 100%;
}
.mobile
{
	margin-top: 50px;
	padding: 0 5%;
	position: absolute;
	height: 100%;
	width: 100%;
	display: none;
}
.mob-footer {
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;
	display: none;
	position: fixed;
	bottom: 0;
	background-color: #2c3e50;
	text-align: center;
}
.mob-reply {
	width: 100%;
	height: 45px;
	padding: 0;
	margin:0;
	display: none;
	position: fixed;
	bottom: 0;
	margin-bottom: 40px;
	background-color: #2c3e50;

}
.text_icon{
	width: 100%;

}
.text_icon input {
	width: 80%;
	height: 30px;
	padding: 2%;
	opacity: 0.8;
	background-color: rgba(0,0,0,0.3);
	letter-spacing: 1px;
	color: white;
	border-right: none;
	outline: none;
	border: none;
}
.send i{
	/*border: 1px solid;*/
	width: 8%;
	height: 26px;
	padding: 2%;
	margin-left: 0;
	cursor: pointer;
	/*background-color: black;*/

	/*background-color: rgba(0,0,0,0.3);*/
}
span a{
	color: black;
	cursor: pointer;

}


@media only screen and (max-width: 500px) {
	.sidebar,.chat_name,.main,.nav-right,.conversation_reply,.search_message,.mob-reply {
		display: none;
	}
	#dropdown{
		display: none;
	}
	.line{
		width: 40px;
		height: 5px;
		background-color: rgba(0,0,0,0.3);
		margin: 4px;
	}
	.dropdown,.mob-right,.mob-footer{
		display: block;
	}

	.mobile{
		display: block;
	}
	.mob-right{
		float: right;
	}

	.fa{
		padding: 10px 10%;
	}
	.sidebar {
		position: absolute;
		top: 50px;
		bottom: 45px;
		margin: 0;
		/*padding: 10px;*/
		padding-bottom: 5%;
		min-width: 100%;
		background-color: #FFF;
		max-height: 100%;
		height: auto ! important;
		overflow: auto;
		color: black;
		border: none;
		clear: both;
	}
	.main {
		position: absolute;
		top: 50px;
		bottom: 85px;
		max-height: 100%;
		height: auto ! important;
		overflow: auto;
		min-width: 100%;
		margin:0;
		background-color: #FFF;
		padding: 10px;
		padding-bottom: 30px;
		border: none;
	}
	.search_message{
		position: absolute;
		top: 0px;
		left: 0px;
		margin: 0;
		padding: 2%;
		min-width: 100%;
		max-height: 100%;
		height: auto ! important;
		z-index: 1000;
		background-color: #2c3e50;
		border: none;
	}
	.chat_name{
		position: absolute;
		top: 0px;
		left: 0px;
		margin: 0;
		padding: 2%;
		min-width: 100%;
		height: 50px;
		z-index: 1000;
		background-color: #2c3e50;
		border: none;
	}
	.chat_name div {
		display: none;
	}
	.chat_name > #chat_heading {
		margin: 0;
		padding: 2%;
		max-width: 100%;
		max-height: 100%;
	}
	#chat_heading a{
		color: white;
		width: 100%;
	}
	.chat_name > .compose_text {
		max-width: 100%;
		padding: 2%;
		max-height: 100%;
		margin: 0;

	}
	.compose_text input {
		max-width: 100%;
	}

}